*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') center/cover no-repeat fixed;
  font-family: poppins, sans-serif;
  color: #ffffff;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 425px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 15px 0px rgb(0, 0, 0), 0 4px 20px 0px rgb(0, 0, 0);
  padding: 25px;
  /* background-color: rgba(255,255,255,0.13); */
  backdrop-filter: blur(1px);
}

.switch-button {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.switch-button h2 {
  font-size: 16px;
  cursor: pointer;
  transition: .2s ease;
}

.switch-button h2:hover {
  border-bottom: 4px solid rgb(255, 200, 18);
}

.switch-button h2:first-child {
  border-bottom: 4px solid rgb(255, 200, 18);
}

input {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  border-bottom: 3px solid #ffffffe7;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

input:focus::placeholder {
  position: absolute;
  top: -8px;
  color: #03a9f4;
  font-size: 0.70rem;
  transition: all 0.3s ease-in-out;
}

input::placeholder {
  color: #f7fbfcaa;
  font-size: 0.899rem;
  font-weight: 600;
  padding: 6px;
}

.input-boxes {
  display: flex;
  flex-direction: column;
}

.input-boxes input {
  margin-bottom: 23px;
  padding: 7px 0 7px 5px;
}

.input-boxes input:first-child {
  font-size: 20px;
}

.terms {
  margin: 8px auto;
}

.terms input {
  margin-right: 5px;
}

.submit-button {
  margin: 0 auto;
}

.submit-button input {
  padding: 8px 35px;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.submit-button input:hover {
  background-color: #059862;
}

.submit-button input[type="button"] {
  font-size: 16px;
}